.cardBase {
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  max-width: 320px;
  border: 1px solid #e5e7eb;
}

.cardBase:hover {
  transform: translateY(-5px);
}

.imageArea {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}